body {
  background-color: beige;
  font-family: Arial, sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-item, .nav-link {
  color: black
}

.contact-us {
  background-color: #F8F9FA;
}